// Variables no agrupadas
$font-family-primary: "Arial";
$font-family-secondary: "Montserrat";

$color-main: #007bff;
$color-alert: #dc3545;
$color-warning: #ffc107;
$color-success: #28a745;
$color-bg: #fefefe;

// Mapas agrupados
$font: (
    "primary": "Arial",
    "secondary": "Montserrat"
);

$color: (
    "main": #007bff,
    "alert": #dc3545,
    "warning": #ffc107,
    "success": #28a745,
    "bg": #fefefe
);

$breakpoints: (
    mobile: 480px,
    tablet: 1024px,
    desktop: 1920px,
    tv: 2440px
);

html {
    color: map-get($color, "main");
}
